.staking {
	align-items: stretch;
	display: flex;
	/* padding-left: 1rem; */
	/* 16px converted to rem */
	padding: 0rem 4rem 0.5rem 4rem;
	/* padding-bottom: 0.5rem; */
	/* 8px converted to rem */
	flex-direction: column;
	/* bigger screen */
		max-width: 1440px;
		margin: 0 auto;
}
@media (max-width: 991px) {

	/* 991px converted to rem */
	.staking {
		padding: 0rem 0rem 0.5rem 0rem;
	}
}

.staking-title {
	margin-top: 3rem;
	/* 48px converted to rem */
	margin-bottom: 1.5rem;
	/* 24px converted to rem */
	font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
	font-size: 2.0625rem;
	/* 33px converted to rem */
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	color: rgba(255, 255, 255, 0.92);
}

@media (max-width: 991px) {

	/* 991px converted to rem */
	.staking-title {
		max-width: 100%;
		margin-left: 1rem;
	}
}

.staking-segment {
	justify-content: flex-start;
	align-items: stretch;
	display: flex;
	padding-right: 5rem;
	padding-right: 0.3125rem;
	gap: 0rem;
	font-size: 1.125rem;
	color: rgba(255, 255, 255, 0.92);
	font-weight: 600;
	white-space: nowrap;
	line-height: 150%;
}
@media (max-width: 991px) {

	/* 991px converted to rem */
	.staking-segment {
		flex-wrap: wrap;
		padding-left: 0.10rem;
		/* 20px converted to rem */
		white-space: initial;
	}
}

@media (max-width: 991px) {

	/* 991px converted to rem */
	.staking-segment {
		flex-wrap: wrap;
		padding-left: 1.25rem;
		white-space: initial;
	}
}
.staking-segment-header.active {
	border-bottom: 2px solid rgba(67, 183, 99, 1);
}

.staking-segment-header {
	font-family: Rubik, -apple-system, Roboto, Helvetica, sans-serif;
	font-style: normal;
	justify-content: center;
	align-items: stretch;
	border-bottom: 0.125rem solid rgba(54, 54, 54, 0.8);
	/* 2px converted to rem */
	display: flex;
	padding-left: 1.125rem;
	/* 18px converted to rem */
	padding-right: 1.125rem;
	/* 18px converted to rem */
	padding-top: 0.5625rem;
	/* 9px converted to rem */
	padding-bottom: 0.6875rem;
	/* 11px converted to rem */
	flex-direction: column;
	color: white;
}

@media (max-width: 991px) {

	/* 991px converted to rem */
	.staking-segment-header {
		white-space: initial;
	}
}

.staking-columns {
	position: relative;
	margin-bottom: 3.9625rem;
	/* 63.4px converted to rem */
	height: 41.1625rem;
	/* 658.6px converted to rem */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
@media (max-width: 991px) {
	.staking-columns {
		display: flex;
		flex-direction: column-reverse;
		height: auto;
	}
}

.staking-image-how {
	background: url('assets/images/WhatsAppImage20240402At10512.png') 50% / cover no-repeat;
	width: 40.75rem;
	/* 652px converted to rem */
	height: 24.95rem;
	/* 399.2px converted to rem */
}

.staking-image-reward {
	background: url('assets/images/reward.png') 50% / cover no-repeat;
	width: 40.75rem;
	/* 652px converted to rem */
	height: 24.95rem;
	/* 399.2px converted to rem */
}
@media (max-width: 991px) {

	/* 991px converted to rem */
	.staking-image-how {
		max-width: 100%;
	}

	.staking-image-reward {
		max-width: 100%;
	}
}

.staking-image-container {
	position: relative;
	/* margin-top: auto;
	margin-bottom: auto; */
	align-self: stretch;
	padding-left: 3rem;
	/* 48px converted to rem */
}
@media (max-width: 991px) {

	/* 991px converted to rem */
	.staking-image-container {
		max-width: 100%;
		padding-right: 0rem;
	}
}


.staking-content-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: stretch;
}


@media (max-width: 991px) {

	/* 991px converted to rem */
	.staking-content-container {
		max-width: 100%;
		margin-top: 2.5rem;
		/* 40px converted to rem */
	}
}

.staking-content-box {
	padding: 0.8125rem 0;
	/* 13px converted to rem */
}

@media (max-width: 991px) {

	/* 991px converted to rem */
	.staking-content-box {
		max-width: 100%;
	}
}

.staking-content {
	align-items: stretch;
	display: flex;
	flex-direction: column;
}

.staking-content-shell {
	/* gap: 1.25rem; */
	/* 20px converted to rem */
	display: flex;
}
@media (max-width: 991px) {

	/* 991px converted to rem */
	.staking-content-shell {
		flex-direction: column;
		padding: 0rem 0.5rem;
	}
}

.staking-image-column {
	padding-left: 0.75rem;
	/* 12px converted to rem */
	padding-top: 0.75rem;
	/* 12px converted to rem */
	padding-bottom: 0.75rem;
	/* 12px converted to rem */
	flex-direction: column;
}
@media (max-width: 991px) {

	/* 991px converted to rem */
	.staking-image-column {
		display: flex;
		align-items: center;
	}
}

.staking-content-column {
	display: flex;
	flex-direction: column;
	line-height: normal;
	width: 100%;
	/* 70px converted to rem */
	margin-left: 1.25rem;
	/* 20px converted to rem */
}

@media (max-width: 991px) {

	/* 991px converted to rem */
	.staking-content-column {
		width: 100%;
	}
}

.staking-content-subcolumn {
	/* padding-left: 0.75rem; */
	/* 12px converted to rem */
	padding-top: 0.75rem;
	/* 12px converted to rem */
	padding-bottom: 0.75rem;
	/* 12px converted to rem */
	flex-direction: column;
}

@media (max-width: 991px) {

	/* 991px converted to rem */
	.staking-content-subcolumn {
		max-width: 100%;
		margin-top: 1.5625rem;
		/* 25px converted to rem */
	}
}

.staking-content-title {
	color: rgba(255, 255, 255, 0.92);
	font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
	font-size: 1.1875rem;
	/* 19px converted to rem */
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
}

.staking-content-text {
	color: rgba(255, 255, 255, 0.72);
	font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
	font-size: 1rem;
	/* 16px converted to rem */
	font-style: normal;
	font-weight: 400;
	line-height: 1.375rem;
	/* 22px converted to rem */
	margin-top: 0.5rem;
	/* 8px converted to rem */
}

.staking-buy-button {
	font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
	font-style: normal;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
	border-radius: 1.25rem;
	background-color: #00CD6A;
	display: flex;
	margin: 3rem 9.656rem 3.5rem 9.656rem;
	width: 17.9375rem;
	max-width: 100%;
	padding-left: 3.75rem;
	padding-right: 3.75rem;
	padding-top: 1.5625rem;
	padding-bottom: 1.5625rem;
	font-size: 1rem;
	color: #FFF;
	font-weight: 700;
	text-align: center;
	line-height: 140%;
}

@media (max-width: 991px) {

	/* 991px converted to rem */
	.staking-image-container {
			display: flex;
			margin: auto;
			padding-left: 0rem;
			/* 24px converted to rem */
		}

	.staking-image {
		margin-top: 1.5rem;
		/* 24px converted to rem */
	}

	.staking-content-column {
		display: flex;
		flex-direction: column;
		line-height: normal;
		/* width: 1.875rem; */
		/* 30px converted to rem */
		margin-left: 0;
	}

	.staking-buy-button {
		justify-content: center;
		align-items: center;
		align-self: center;
		border-radius: 20px;
		background-color: #00cd6a;
		margin-top: 20px;
		width: 287px;
		max-width: 287px;
		color: #fff;
		text-align: center;
		padding: 19px 0px;
		font: 700 16px/140% Inter, -apple-system, Roboto, Helvetica,
			sans-serif;
	}
}