.body {
	/* border-color: rgba(4, 50, 30, 1); */
	background-color: #000;
	padding: 0px 64px;
	/* width: 100%; */
	/* display: flex; */
	/* height: 100vh; */
}

.header {
	padding: 18px 0px;
}

@media (max-width: 991px) {
	.div {
		padding: 0 20px;
	}
}

.div-2 {
	gap: 20px;
	display: flex;
}

@media (max-width: 991px) {
	.div-2 {
		flex-direction: column;
		align-items: stretch;
		gap: 0px;
	}
}

.column {
	display: flex;
	flex-direction: column;
	line-height: normal;
	width: 39%;
	margin-left: 0px;
}

@media (max-width: 991px) {
	.column {
		width: 100%;
	}
}

.div-3 {
	display: flex;
	flex-grow: 1;
	gap: 8px;
	font-size: 40px;
	color: var(--primary2-primary2-500, #00cd6a);
	font-weight: 700;
	line-height: 140%;
}

@media (max-width: 991px) {
	.div-3 {
		margin-top: 40px;
	}
}

.img {
	aspect-ratio: 1;
	object-fit: auto;
	object-position: center;
	width: 64px;
}

.div-4 {
	font-family: Inter, sans-serif;
	margin: auto 0;
}

.column-2 {
	display: flex;
	flex-direction: column;
	line-height: normal;
	width: 25%;
	margin-left: 20px;
}

@media (max-width: 991px) {
	.column-2 {
		width: 100%;
	}
}

.div-5 {
	display: flex;
	gap: 20px;
	align-self: stretch;
	font-size: 16px;
	font-weight: 500;
	line-height: 112.5%;
	justify-content: space-between;
	margin: auto 0;
}

@media (max-width: 991px) {
	.div-5 {
		margin-top: 40px;
	}
}

.div-6 {
	color: var(--primary2-primary2-500, #00cd6a);
	font-family: Inter, sans-serif;
}

.div-7 {
	font-family: Inter, sans-serif;
	justify-content: center;
	color: var(--Secondary-secondary-50, #e6e6e6);
	white-space: nowrap;
	padding: 2px 0;
}

@media (max-width: 991px) {
	.div-7 {
		white-space: initial;
	}
}

.div-8 {
	color: #fff;
	font-family: Inter, sans-serif;
}

.column-3 {
	display: flex;
	flex-direction: column;
	line-height: normal;
	width: 36%;
	margin-left: 20px;
}

@media (max-width: 991px) {
	.column-3 {
		width: 100%;
	}
}

.div-9 {
	display: flex;
	flex-grow: 1;
	gap: 20px;
	align-self: stretch;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	margin: auto 0;
}

@media (max-width: 991px) {
	.div-9 {
		margin-top: 40px;
	}
}

.div-10 {
	font-family: Inter, sans-serif;
	justify-content: center;
	border-radius: 20px;
	background-color: #00bb60;
	padding: 18px 36px;
}

@media (max-width: 991px) {
	.div-10 {
		padding: 0 20px;
	}
}

.div-11 {
	font-family: Inter, sans-serif;
	justify-content: center;
	border-radius: 20px;
	border-color: rgba(0, 187, 96, 1);
	border-style: solid;
	border-width: 3px;
	padding: 18px 36px;
}

@media (max-width: 991px) {
	.div-11 {
		padding: 0 20px;
	}
}

.green-color {
	color: rgba(0, 205, 106, 1); /* Use the calculated RGB value here */
  }